.review {
    margin-left: -35px;
    width: calc(100% + 70px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.18);
}

.gold {
    color: rgb(245, 212, 27) !important;
}