<div class="mt-2">
    <div class="row mt-5">
        <div class="col-md-8 col-sm-12">
            <h3>Your restaurants</h3>
        </div>
        <div class="col-md-4 col-sm-12">
            <button class="btn btn-primary" data-toggle="modal" data-target="#add-restaurant">
                Add restaurant
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4" *ngFor="let restaurant of restaurants">
            <app-edit-restaurant [restaurant]="restaurant" [categories]="categories" [user]="user"></app-edit-restaurant>
        </div>
    </div>
</div>

<div class="modal fade" id="add-restaurant" tabindex="-1" role="dialog" aria-labelledby="addRestaurant"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add restaurant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (change)="log()">
                    <div class="form-group">
                        <label for="restaurant-name">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="The name of your restaurant"
                        [(ngModel)]="newRestaurant.name" id="restaurant-name">
                    </div>
                    <div class="form-group">
                        <label for="category">Choose an existing category...</label>
                        <select class="form-control" id="category" name="category" [(ngModel)]="newRestaurant.category">
                            <option value="">---</option>
                            <option *ngFor="let category of categories" [value]="category.category">{{ category.category }}</option>
                        </select>
                    </div>
                    <div class="form-group pl-3">
                        <label for="custom-category">...or create your own!</label>
                        <input type="text" name="custom-category" class="form-control" [(ngModel)]="newRestaurant.category"
                            placeholder="You can enter it here :)" id="custom-category">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" [(ngModel)]="newRestaurant.description" class="form-control" id="description"
                            placeholder="Describe your restaurant"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" (click)="addRestaurant()">Add</button>
            </div>
        </div>
    </div>
</div>